@use "../styles/utils/variables" as *;

.icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  cursor: pointer;

  &--favourites {
    background-image: url(/icons/Favourites.svg);
  }

  &--favourites-active {
    background-image: url(/icons/ActiveFavourite.svg);
  }

  &--search {
    background-image: url(/icons/Search.svg);
  }

  &--cart {
    background-image: url(/icons/Cart.svg);
  }

  &--up {
    background-image: url(/icons/ButtonUp.svg);
  }

  &--left {
    background-image: url(/icons/ButtonLeft.svg);
    padding: 8px;
    border: 1px solid $icons-gray;

    &:hover {
      border-color: $primary-gray;
    }
  }

  &--disabled-left {
    cursor: default;
    border: 1px solid $elements-gray;
    background-image: url(/icons/DisabledLeft.svg);
  }

  &--right {
    background-image: url(/icons/ButtonRight.svg);
    padding: 8px;
    border: 1px solid $icons-gray;

    &:hover {
      border-color: $primary-gray;
    }
  }

  &--disabled-right {
    cursor: default;
    border: 1px solid $elements-gray;
    background-image: url(/icons/DisabledRight.svg);
  }

  &--home {
    background-image: url(/icons/Home.svg);
  }

  &--close {
    background-image: url(/icons/Close.svg);
  }

  &--minus {
    border: 1px solid $elements-gray;
    background-image: url(/icons/Minus.svg);

    &:hover {
      border-color: $primary-gray;
    }
  }

  &--disabled-minus {
    cursor: default;
    border: 1px solid $elements-gray;

    &:hover {
      border-color: $elements-gray;
    }
  }

  &--plus {
    border: 1px solid $elements-gray;
    background-image: url(/icons/Plus.svg);

    &:hover {
      border-color: $primary-gray;
    }
  }

  &--menu {
    background-image: url(/icons/Menu.svg);
  }
}
