@use '../../styles/utils/index.scss' as *;
@use '../../styles/index.scss';

.home {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 56px 0 80px;
    width: 100%;
  }
}
